<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eabiii.firebasetest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rp_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rp_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Register" />
        <activity android:name=".UserHomepage"
            android:launchMode="singleTop"/>
        <activity
            android:name=".PostActivity"
             />
        <activity
            android:name=".ViewSinglePost"
            android:windowSoftInputMode="stateHidden|adjustPan"
             />
        <activity
            android:name=".ViewPolitician"
             />
        <activity android:name=".RatePolitician"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".AddPartyList"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".AddPolitician"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".ViewPartylistMember"
            />
        <activity android:name=".Settings" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".ChangeUsername"></activity>
    </application>

</manifest>